<%= simple_form_for(admin) do |f| %>

  <%= f.input :username %>
  <%= f.input :email %>
  <p>
    <strong>Note:</strong> Password will be automatically created and send to the admin's email.
  </p>
  <% if current_admin.superadmin && !admin.new_record? %>
    <%= f.input :password %>
  <% end %>
  <%= f.button :submit %>

<% end %>
