<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.generated_password %>
</p>

<p class="text-right">
  <%= link_to fa_icon("pencil 2x", id: "pencil"), edit_admin_path(@admin),
                                                                          title: "Edit" %>
  <%= link_to fa_icon("trash 2x", id: "bin"), @admin,
                                                                     method: :delete,
                                                                     data: { confirm: "Are you sure?" },
                                                                     title: "Delete" %>
</p>
