<% provide(:title, "Home") %>

<div id="home-page">
  <div class="container-fluid" id="welcome">
    <div class="container">
      <h1>
        Welcome to Oak Tree <br />
        Day Nursery
      </h1>
      <p>
        Established in 2003
      </p>
      <p>
        <!-- Button trigger modal -->
        <button type="button"  id="hero-button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestTour">
          Request tour
        </button>
      </p>
    </div>
  </div><!-- End Hero Intro -->

  <div class="container-fluid" id="about-us">
    <div class="container">
    <div class="pull-right">
        <h1>About Us</h1>
        <p>
          The children attending Oak Tree Day Nursery receive <br />the individual attention that will give them the opportunity <br /> to grow and develop at their own pace. While our emphasis <br />is on learning through play, we continue to provide <br />a high standard of care and education.
        </p>
    </div>
    <div class="pull-left"><%= image_tag "about-us-image.png" %></div>
  </div>
  </div><!-- End of Services -->
  <div id="points">
      <div class="row">
      <div class="col-xs-4 col-sm-2">
      <p>
        <%= image_tag("baby.png", class: "img-responsive") %>
      </p>
      <p>
        Care for babies and pre-school children between the ages of three months and five years.
      </p>
      </div>
      <div class="col-xs-4 col-sm-2">
        <p>
          <%= image_tag("old-school.png", class: "img-responsive") %>
        </p>
        <p>
          Detached house that has been completely renovated with spacious playrooms and has room for 62 children.
        </p>
      </div>
      <div class="col-xs-4 col-sm-2">
        <p>
          <%= image_tag("calendar-clock.png", class: "img-responsive") %>
        </p>
        <p>
          Open 50 weeks a year from 8 am to 6 pm.
        </p>
      </div>
      <div class="col-xs-4 col-sm-2">
        <p>
          <%= image_tag("tablet.png", class: "img-responsive") %>
        </p>
        <p>
          We use the latests software and technology to track and create reports for your child development.
        </p>
      </div>
      <div class="col-xs-4 col-sm-2">
        <p>
          <%= image_tag("swing.png", class: "img-responsive") %>
        </p>
        <p>
          Outdoor playground with impact absorbent play surface and fixed equipment.
        </p>
      </div>
      <div class="col-xs-4 col-sm-2">
        <p>
          <%= image_tag("security-camera.png", class: "img-responsive") %>
        </p>
        <p>
          Safe and secure environment.
        </p>
      </div>
    </div>
  </div>
  <div class="container" id="news">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2 class="text-center">Calendar</h2>
        <% @events.each do |event| %>
          <h5><strong><%= event_text event %></strong></h5>
          <p><%= event.description %></p>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <%= image_tag("kids.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div> <!-- End news -->
</div>

<!-- Modal -->
<div class="modal fade" id="requestTour" tabindex="-1" role="dialog" aria-labelledby="requestTourLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="requestTourLabel">Request tour</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(:request, url: request_viewing_path, remote: true, html: {role: :form}) do |f| %>
          <%= f.input :name %>
          <%= f.input :email, as: :email %>
          <%= f.input :mobile, required: false, as: :tel %>
          <%= f.input :telephone, required: false, as: :tel %>
          <%= f.input :date, required: true %>
          <%= f.input :time, collection: [ "Morning", "Afternoon"], prompt: "When do you prefer to visit?", required: false %>
          <%= f.submit "Send request", id:"send_request", disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
