<% provide(:title, "Home") %>

<div id="home-page">
  <div class="container-fluid" id="welcome">
    <div class="container">
      <div id="welcome-text">
        <h1>
          Welcome to Oak Tree <br />
          Day Nursery
        </h1>
        <p>
          Established in 2003
        </p>
        <p>
          <%= link_to "Find out more", about_us_path, class:"btn btn-primary btn-lg", role: "button" %>
        </p>
      </div>
      <div id="hero-image">
        <%= svg "hero-image" %>
      </div>
    </div>
  </div><!-- End Hero Intro -->

  <div class="container-fluid" id="about-us">
    <div class="container">
      <div class="pull-right">
          <h1>About Us</h1>
          <p>
            The children attending Oak Tree Day Nursery receive the individual attention that will give them the opportunity to grow and develop at their own pace. While our emphasis is on learning through play, we continue to provide a high standard of care and education.
          </p>
      </div>
      <div class="pull-left">
        <%= image_tag "about-us-image.png" %>
      </div>
    </div>
  </div><!-- End of About Us -->

  <div id="services">
    <div class="container">
      <div class="flex-container">
        <div class="flex-item">
          <div class="image">
            <%= svg("baby-unit") %>
          </div>
          <div class="title">
            <h3>Baby Unit</h3>
          </div>
          <div class="text">
            <p>
                Our baby rooms offer a safe, caring environment, with bright soft toys and equipment. There is  high staff ratio with qualified, caring  and motivated staff, ensuring a secure  relationship between parents, baby and staff.
              </p>
          </div>
          <div class="link">
            <p>
                <%= link_to "More", nursery_path(anchor: "baby-unit"), id: "baby-link" %>
              </p>
          </div>
        </div>
        <div class="flex-item">
          <div class="image">
            <%= svg("toddler-unit") %>
          </div>
          <div class="title">
            <h3>Toddler Unit</h3>
          </div>
          <div class="text">
            <p>
                A child will move through to this stage between their second and third birthday. Our approach is to ensure that learning is fun. The children are introduced to activities, which will enable each child to develop at their own pace.
              </p>
          </div>
          <div class="link">
            <p>
                <%= link_to "More", nursery_path(anchor: "toddler-unit"), id: "toddler-link" %>
              </p>
          </div>
        </div>
        <div class="flex-item">
          <div class="image">
            <%= svg("preschool-unit") %>
          </div>
          <div class="title">
            <h3>Preschool</h3>
          </div>
          <div class="text">
            <p>
                Children will progress to our preschool unit after their third birthday. Our activity programme allows children to learn and develop the knowledge, understanding and skills they will need when they move to their first school.
              </p>
          </div>
          <div class="link">
            <p>
                <%= link_to "More", nursery_path(anchor: "preschool-unit"), id: "preschool-link" %>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>  <!-- End of Services -->

  <div class="container-fluid" id="visit-us">
    <div class="container">
      <div class="text">
        <h2>
          The best way to chose a nursery is to come and see it for yourself.
        </h2>
        <p>
          If you would like to make an appointment, please request a viewing. We'll be happy to welcome you and your child for a visit around the Nursery.
        </p>
        <p>
          <!-- Trigger modal button -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestTour">
            Request tour
          </button>
        </p>
      </div>

        <%= svg "school" %>

    </div>
  </div> <!-- End news -->
</div>

<!-- Modal -->
<div class="modal fade" id="requestTour" tabindex="-1" role="dialog" aria-labelledby="requestTourLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="requestTourLabel">Request tour</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(:request, url: request_viewing_path, remote: true, html: {role: :form}) do |f| %>
          <%= f.input :name %>
          <%= f.input :email, as: :email %>
          <%= f.input :mobile, required: false, as: :tel %>
          <%= f.input :telephone, required: false, as: :tel %>
          <%= f.input :date, required: true %>
          <%= f.input :time, collection: [ "Morning", "Afternoon"], prompt: "When do you prefer to visit?", required: false %>
          <%= f.submit "Send request", id:"send_request", disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
