<h1>
  From <%= @break.start_date.strftime("%e %B") %> to <%= @break.end_date.strftime("%e %B") %>
</h1>

<p>
  <%= @break.description %>
</p>
<p class="text-right">
  <%= link_to fa_icon("pencil 2x", id: "pencil"), edit_break_path(@break),
                                                                          title: "Edit" %>
  <%= link_to fa_icon("trash 2x", id: "bin"), @break,
                                                                     method: :delete,
                                                                     data: { confirm: "Are you sure?" },
                                                                     title: "Delete" %>
</p>
