<h1>Your password</h1>

<p>
  Dear <%= @user.title %> <%= @user.last_name %>,<br>
  Please find your login details below.
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Password:</strong>
  <%= @user.generated_password %>
</p>
<p>
  <%= link_to "Login", @url %>
</p>
