<p id="notice"><%= notice %></p>

<h1>Testemonials</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testemonials.each do |testemonial| %>
      <tr>
        <td><%= testemonial.title %></td>
        <td><%= testemonial.description %></td>
        <td><%= link_to 'Show', testemonial %></td>
        <td><%= link_to 'Edit', edit_testemonial_path(testemonial) %></td>
        <td><%= link_to 'Destroy', testemonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testemonial', new_testemonial_path %>
