<div id="dashboard">
  <div class="row text-center">
    <div class="col-xs-4">
      <h1><%= link_to fa_icon("trophy 4x", text: "Awards", id: "trophy"), admin_awards_path %></h1>
    </div>
    <div class="col-xs-4">
      <h1><%= link_to fa_icon("calendar 4x", text: "Closures", id: "calendar"), admin_breaks_path %></h1>
    </div>
    <div class="col-xs-4">
      <h1><%= link_to fa_icon("question-circle-o 4x", text: "FAQs", id: "question"), admin_faqs_path %></h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-4">
      <h1><%= link_to fa_icon("user-plus 4x", text: "Jobs", id: "user-plus"), admin_jobs_path %></h1>
    </div>
    <div class="col-xs-4">
      <h1><%= link_to fa_icon("newspaper-o 4x", text: "Newsletters", id:"newspaper") %></h1>
    </div>
    <div class="col-xs-4">
      <h1><%= link_to fa_icon("users 4x", text: "Parents", id: "users") %></h1>

    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-4">
      <% if current_admin.superadmin %>
        <h1><%= link_to fa_icon("pencil-square-o 4x", text: "Admins", id:"pencil") %></h1>
      <% end %>
    </div>
    <div class="col-xs-4">
      <h1><%= link_to fa_icon("thumbs-o-up 4x", text: "Testemonials", id: "thumbs") %></h1>
    </div>
  </div>
</div>
