<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Nursery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'administration', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'administration', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid" id="admin-header">
    <div class="container">
      <table>
        <tr>
          <td>
            <h1>
            <%= link_to "Admin Panel", admin_dashboard_path %>
            </h1>
          </td>
          <td class="text-right">
            <%= link_to "Log out", destroy_admin_session_path, method: :delete %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container" id="main">
    <div class="row">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> text-center"><%= message %></div>
      <% end %>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1" id="yield">


          <%= yield %>

      </div>
    </div>
  </div>

  <!-- Bootstrap Gallery Modal -->
  <%= render 'shared/blueimp_gallery' %>


  <div id="admin-back-link" class="text-center">
  <% if params[:controller] != "admin_pages" %>
    <% if params[:action] == "index" %>
    <% route = admin_dashboard_path %>
    <% else %>
      <% route = eval("admin_#{params[:controller].underscore}_path") %>
    <% end %>
      <h2>
            <%= link_to fa_icon("arrow-left 2x", id: "back"), route %>
      </h2>
      <h4>
        <%= link_to "Back", route %>
      </h4>
      <% end %>
    </div>

  <!-- <div>
    <%= debug(params) if Rails.env.development? %>
  </div> -->

  </body>
</html>
