<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Nursery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'administration', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'administration', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid" id="admin-header">
    <div class="container">
      <h1><%= link_to "Admin Panel", admin_path %></h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <%= yield %>
      </div>
    </div>
  </div>

  <div id="admin-back-link" class="text-center">
  <% if params[:controller] != "admin_pages" %>
    <% if params[:action] == "index" %>
    <% route = admin_path %>
    <% else %>
      <% route = eval("admin_#{params[:controller].underscore}_path") %>
    <% end %>
      <h2>
            <%= link_to fa_icon("arrow-left 2x", id: "back"), route %>
      </h2>
      <h4>
        <%= link_to "Back", route %>
      </h4>
    </div>
  <% end %>
  </body>
</html>
